@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-color: #cbd5e1;
}

body,
html {
  height: 100%;
}

body {
  background-color: #f8fafc;
  color: #475569;
}

button {
  border-radius: 0.5rem;
  height: 2.25rem;
  padding-inline: 1rem;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #1e293b;
}

input,
textarea,
select {
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  padding: 0.625rem 16px;
  background: none;
  color: #020617;
  width: 100%;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #475569;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #020617;
}
