@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-color: #cbd5e1;
}

body,
html {
  height: 100%;
}

body {
  background-color: #f8fafc;
  color: #475569;
}

button {
  border-radius: 0.5rem;
  height: 2.25rem;
  font-size: 0.875rem;
  padding-inline: 0.75rem;
  font-weight: 700;
}

@media (min-width: 640px) {
  button {
    padding-inline: 1rem;
    font-size: 1rem;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e293b;
}
@media (min-width: 640px) {
  h1 {
    font-size: 2rem;
  }
}

input,
textarea,
select {
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  padding: 0.625rem 16px;
  background: none;
  color: #020617;
  width: 100%;
  outline: none;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #475569;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #020617;
}

input:disabled,
textarea:disabled,
select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
