@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-color: #cbd5e1;
}

body,
html {
  height: 100%;
}

body {
  background-color: #f8fafc;
  color: #475569;
}

button {
  border-radius: 0.5rem;
  height: 2.25rem;
  padding-inline: 1rem;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #1e293b;
}
